
<!DOCTYPE html>
<html>
<title>login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
.gwd-div-10yr {
      position: absolute;
      background-image: none;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
      transform-origin: 50% 50% 0px;
      width: 490.03px;
      height: 286.98px;
      top: 21.4%;
      left: 33.32%;
      background-color: rgba(253, 186, 0, 0.9);
    }
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">kanomthai</a>
    <div class="w3-right w3-hide-small">
	  <a href="/register" class="w3-bar-item w3-button">Register</a>

    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="http://preawpak.com/upload/fullsize/article/1594368170-5f0820aa069b8.jpg" alt="Hamburger Catering" width="1600" height="800">

</header>

<body class="htmlNoPages">
    <div class="gwd-div-10yr" id="ds">
<h>Login</h>
    <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Login">
    </div>
</body>


</html>
